.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  position:absolute;
  bottom:0;
  width:100%;
  background-color: #555;
  color: white;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}
    
header {
	background-color: blue;
}

form {
	width: 300px;
}

/*button.link { 
  background:white;
  border:none;
}*/

li {
  margin: 10px 0;
}

button.correct {
  background: green; 
}

button.incorrect {
  background: red;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;  
}

.form-horizontal{
    display:block;
    margin-left:auto;
    margin-right:auto;
}




